body h1{
    text-align:center;
}

#photo-gallery li{
    float:left;
    display:flex;
    flex-direction:column;
    align-items:center;
    height:350px;
    width:200px;
    list-style: none;
    border: 2px solid red; 
    margin:5px;
}

#photo-gallery img {
    width:100%;
    
}