* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Calibri', sans-serif;
}
body {
    text-align: center;
}
header {
    padding: 2px;
    margin: 10px;
}

h1 {
    padding: 2px;
}

h2, h3 {
    margin-bottom: 10px;
}

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

li {
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: space-between;
    border: 2px solid black;
    width: 250px;
    height: 400px;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}

img {
    width: 100%;
}
