* {
    box-sizing: border-box;
    font-family: 'Special Elite', cursive;
    /* text-align: center; */
    margin: 0;
}

/* Header Container */
header {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: skyblue
}

h1 {
    font-size: 50px;
    margin-left: 50px;
}

/* Form Container */
form {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 50px;
}

label {
    display: flex;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-left: 10px;
}

input {
    font-family: 'Oswald', sans-serif;
    margin-left: 8px;
    margin-right: 10px;
    font-size: 20px;
}

button {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    padding: 5px;
    border-radius: 10%;
    background-color: khaki;
}

/* Image Container */
#image-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 50px;
}

li {
    display: inline-block;
    border: solid black 2px;
    width: 300px;
    margin: 20px;
    padding: 25px;
}

.image-card {
    position: relative;
}

.image-title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

img {
    width: 100%;
}

.horn-count {
    /* display: flex;
    align-content: flex-end; */
    position: absolute;
    bottom: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}